<% if @question.errors.any? %>
  <%= @question.errors.full_messages %>
<% end %>
<%= form_with model: question,
              data: { controller: "editor",
                      action: "editor#transCode:prevent",
                      question_id: question.id } do |form| %>
  <div class="grid grid-cols-2">
    <div class="questions-text flex flex-col">
      <%= form.label :title,"標題" %>
      <%= form.text_field :title, required: true %>
      <%= form.label :question_type,"類型" %>
      <%= form.select :question_type, ["Live", "Take-Home"] %>
      <%= form.label :language,"語言" %>
      <%= form.select :language,
                      ["Javascript", "Ruby"],
                      {},
                      data: { action: "editor#questionFormSelectLanguage" } %>
      <%= form.label :difficulty,"難易度" %>
      <%= form.select :difficulty, ["Easy", "Medium","Hard","Not specified"] %>
      <%= form.label :internal_description, "給面試官的資訊" %>
      <%= form.text_area :internal_description, rows: 2 %>
      <%= form.label :candidate_instructions, "給面試者的說明" %>
      <%= form.text_area :candidate_instructions, rows: 2, required: true %>
    </div>
    <div class="questions-editor-area">
      <%= form.label :code, "題目內容", class: "mb-1 font-bold" %>
      <%= form.select :example, ["使用範例", ["Candy 01", "1"], ["Candy 02", "2"]], selected: "1" %>
      <%= render "rooms/editor" %>
    </div>
  </div>
  <%= form.submit class: "btn-dashboard-create mb-4" %>
  <%= link_to "返回", questions_path, class: "btn-dashboard-create" %>
<% end %>
