<% if @question.errors.any? %>
  <div id="error_explanation">
    <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: question,
              data: { controller: "allQuestion",
                      action: "allQuestion#transCode:prevent",
                      question_id: question.id } do |form| %>
  <div class="grid grid-cols-2">
    <div class="questions-text flex flex-col">
      <%= form.label :title,"標題" %>
      <%= form.text_field :title, required: true %>
      <%= form.label :language,"語言" %>
      <%= form.select :language,
                      ["Javascript", "Ruby", "Python", "Elixir"],
                      {},
                      data: { action: "allQuestion#questionFormSelectLanguage" } %>
      <%= form.label :difficulty,"難易度" %>
      <%= form.select :difficulty, ["Easy", "Medium","Hard","Not specified"] %>
      <%= form.label :internal_description, "給面試官的資訊" %>
      <%= form.text_area :internal_description, rows: 2 %>
      <%= form.label :candidate_instructions, "給面試者的說明" %>
      <%= form.text_area :candidate_instructions, rows: 2, required: true %>
    </div>
    <div class="questions-editor-area">
      <%= form.label :code, "題目內容", class: "mb-1 font-bold" %>
      <%= render "rooms/editor" %>
    </div>
  </div>
  <% if @question.persisted?%>
    <% question_status = "更新" %>
  <% else %>
    <% question_status = "新增" %>
  <% end %>
  <%= form.submit "#{question_status}", class: "btn-dashboard-border mb-4" %>
  <%= link_to "返回", questions_path, class: "btn-dashboard-border inline-block" %>
<% end %>
