<div class="p-10">
  update Question
  <%= form_with model:@question do |form| %>
    <div class="px-5 py-5" >
      <%= form.label :title,"Title:" %>
      <%= form.text_field :title %>
    </div>
    <div class="px-5 py-5">Language: <%= form.select :language, ["Javascript", "Ruby"] %></div>
    <div class="px-5 py-5">Difficulty: <%= form.select :Difficulty, ["Easy", "Medium","Hard","Not specified"] %></div>
    <div class="px-5">
      <%= form.label :Internal_Description ,"Internal Description"%>
    </div>
    <div class="px-5">
      <%= form.text_area :Internal_Description,:class => "border border-gray-900" %></span>
  </div>
  <div class="px-5 ">
    <%= form.label :Candidate_Instructions %>
  </div>
  <div class="px-5">
    <%= form.text_area :Candidate_Instructions,:class => "border border-gray-900" %>
  </div>
  <div class="px-5 ">
    <%= form.label :code,"Starter Code" %>
  </div>
  <div class="px-5">
    <%= form.text_area :code, :class => "border border-gray-900" %>
  </div>
  <div><%= form.submit "Created" %></div>
<% end %>
</div>
