<div class="p-20">
  
  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <div class="py-3 text-left">Question Bank</div>
  <div class="py-3 text-right"> <%= link_to "Create Question",  new_question_path , :class => "createBtn" %></div>
  <div class="rounded">
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
    <% end %>
    <%= form_with model:@questions do |form| %>
      <span class="px-5">Types: <%= form.select :Types, ["Live", "Take-Home"] %></span>
      <span class="px-5">Language: <%= form.select :language, ["Javascript", "Ruby"] %></span>
    <% end %>
  </div>


  <table class="room_table">
    <thead>
      <tr>
        <td>Title</td>
        <td>Language</td>
        <td>Creator ID</td>
        <td>Last Used</td>  
      </tr>
    </thead>
    <tbody>
    
    </tbody> 
  </table>
</div>