<div class="flex justify-between mt-3">
  <h2 class="font-bold text-2xl">面試題庫目錄</h2>
  <%= link_to "新增題目", new_question_path, class: "btn-dashboard-create" %></div>
<span class="block mb-10">管理您的面試題庫，新增題目、進行查詢、調整及刪除。</span>
<div class="rounded">
  <div>
    <form action="./questions" method="get" class="mt-2 mb-4">
      搜尋：<input type="text" placeholder="關鍵字查詢" name="keyword" class="px-2 border border-black">
      <button>送出</button>
    </form>
  </div>
  <table class="question_table">
    <thead>
      <tr>
        <td>標題</td>
        <td>模式</td>
        <td>程式語言</td>
        <td>難易度</td>
        <td>建立者</td>
        <td>建立日期</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
        <%= form_with model: question do |form| %>
          <tr>
            <td><%= question.title %></td>
            <td><%= question.question_type %></td>
            <td><%= question.language %></td>
            <td><%= question.difficulty %></td>
            <td><%= question.creator.username %></td>
            <td><%= question.created_at.to_s.split.first %></td>
            <td><%= link_to "檢視", question_path(question.id), class: "btn-dashboard-create" %></td>
            <td><%= link_to "修改", edit_question_path(question.id), class: "btn-dashboard-create" %></td>
            <td><%= link_to "刪除", question_path(question.id), method:"delete", data:{confirm:"確定要刪除這題嗎?"}, class: "btn-dashboard-delete" %></td>
          </tr>
        <% end %>
      <% end %>
      <div class="d-flex justify-content-center">
        <%== pagy_nav(@pagy) %>
      </div>
    </tbody>
  </table>
</div>
</div>
<% console %>
