<div class="p-10"><%= @question.title %></div>
<ul class="p-20">
  <li>建立者: <%= @question.creator.username %></li>
  <li>建立日期: <%= @question.created_at.to_s.split.first %></li>
  <li>標題: <%= @question.title %></li>
  <li>類型: <%= @question.question_type %></li>
  <li>語言: <%= @question.language %></li>
  <li>難易度:<%= @question.difficulty %></li>
  <li>面試官資訊:<%= @question.internal_description %></li>
  <li>面試說明:<%= @question.candidate_instructions %></li>
  <li>題目內容:<%= @question.code %></li>
</ul>
<div>
  <%= link_to "返回",   questions_path %>
</div>
留言區：
<section>
  <%= form_with model: @comment, url:question_comments_path(@question) do |form| %>
    <%= form.label :content, "content" %>
    <%= form.text_area :content %>
    <%= form.submit "送出" %>
  <% end %>
</section>
