<div class="flex justify-between mt-3">
  <p class="text-2xl font-bold"><%= current_user.team.name %> 成員列表</p>
  <%= link_to "成員邀請", "/#{@team}/team_invite", class:"btn-dashboard-create"  %>
  <%= %>
</div>
<span class="block mb-10">管理您的組織成員，邀請新成員加入、進行查詢、調整職位及進行成員刪除。</span>
<p class="mb-3 text-2xl font-bold">目前成員</p>
<table class="room_table">
  <thead>
    <tr>
      <td>名稱</td>
      <td>Email</td>
      <td>職位</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>admin</td>
      </tr>
    <% end %>
  </tbody>
</table>
