<section class="section-center">
  <h2 class="h2-type" >帳號註冊</h2>
  
  <button class="border border-gray-300 hover:bg-red-200 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <img alt="google logo" src="https://img.icons8.com/color/24/FFFFFF/google-logo.png" class="mr-1"/>
    <%= link_to "使用goole帳號註冊", user_google_oauth2_omniauth_authorize_url, method: :post %>
  </button>

   <button class="border border-gray-300 hover:bg-red-200 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <img alt="Github logo" src="https://img.icons8.com/ios-glyphs/24/000000/github.png" class="mr-1"/>
    <%= link_to "使用github帳號註冊", user_github_omniauth_authorize_url, method: :post %>
  </button>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請填寫使用者信箱" %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "請填寫名稱" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "至少6個字元" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再次輸入密碼"  %>
    </div>

    <div class="actions">
      <%= f.submit "註冊" %>
    </div>
  <% end %>
  
  <%#= render "devise/shared/links" %>
</section>

