<section class="section-session">
  <div class="container">
    <div class="box">
      <h2 class="mb-3 text-2xl font-bold text-center" >帳號註冊</h2>
      <button class="btn-third-party">
        <img alt="google logo" src="https://img.icons8.com/color/24/FFFFFF/google-logo.png" class="mr-1"/>
        <%= link_to "使用goole帳號註冊", user_google_oauth2_omniauth_authorize_url, method: :post, class:"w-64" %>
      </button>
      <button class="btn-third-party">
        <img alt="Github logo" src="https://img.icons8.com/ios-glyphs/24/000000/github.png" class="mr-1"/>
        <%= link_to "使用github帳號註冊", user_github_omniauth_authorize_url, method: :post, class:"w-64" %>
      </button>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="mb-5">
          <%= f.label :email, "Email", class:"form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "請填寫電子郵件",class:"form-input" %>
        </div>
        <div class="mb-5">
          <%= f.label :username, class:"form-label" %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "請填寫使用者名稱",class:"form-input" %>
        </div>
        <div class="mb-5">
          <%= f.label :password, class:"form-label" %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "長度至少6個字元",class:"form-input" %>
        </div>
        <div class="mb-8">
          <%= f.label :password_confirmation, class:"form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再次輸入密碼",class:"form-input"  %>
        </div>
        <div class="flex justify-center mb-8 actions">
          <%= f.submit "註冊", class:"btn-summit" %>
        </div>
        <div class="text-center">
          <%= link_to "已經註冊了? 前往登入", new_user_session_path, class:"link-hover" %>
        </div>
        <%= f.hidden_field :team_id, value: params[:team_id] %>
      <% end %>
    </div>
  </div>
</section>
