<section class="section-center">
  <h2 class="h2-type">更改您的密碼</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :password, "新密碼" %><em>(最少6碼)</em><br />
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "請輸入新密碼" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "確認新密碼" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "請輸入密碼確認" %>
    </div>

    <div class="actions">
      <%= f.submit "送出變更" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</section>
