<footer class="site-footer">
  <div class="flex">
    <div class="footer-logo">
      <%= link_to "logo", "#" %>
      <ul class="social-links">
        <h3>social-links</h3>
        <li>
          <%= link_to "GitHub", "#" %>
        </li>
        <li>
          <%= link_to "Youtube", "#" %>
        </li>
        <li>
          <%= link_to "Twitter", "#" %>
        </li>
      </ul>
      <ul class="utility-links">
        <li>
          <%= link_to "support@iCoder", "#" %>
        </li>
        <li>
          <%= link_to "Status", "#" %>
        </li>
      </ul>
      <p class="copyright">© COPYRIGHT</p>
    </div>
    <div class="footer-menu-items">
      <div class="footer-menu-item">
        <h2 class="footer-menu-title">placeholder</h2>
        <ul class="footer-menu-list">
          <li><%= link_to "placeholder", "#" %></li>
          <li><%= link_to "placeholder", "#" %></li>
          <li><%= link_to "placeholder", "#" %></li>
        </ul>
      </div>
      <div class="footer-menu-item">
        <h2 class="footer-menu-title">placeholder</h2>
        <ul class="footer-menu-list">
          <li><%= link_to "placeholder", "#" %></li>
          <li><%= link_to "placeholder", "#" %></li>
          <li><%= link_to "placeholder", "#" %></li>
        </ul>
      </div>
      <div class="footer-menu-item">
        <h2 class="footer-menu-title">placeholder</h2>
        <ul class="footer-menu-list">
          <li><%= link_to "placeholder", "#" %></li>
          <li><%= link_to "placeholder", "#" %></li>
          <li><%= link_to "placeholder", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
