<header class="site-header">
  <div class="nav_bar flex">
    <% if user_signed_in? %>
    <%= link_to "logo", rooms_path, class: "logo" %>
    <% else %>
    <%= link_to "logo", "/", class: "logo" %>
    <% end %>
    <nav id="main-navigation">
      <ul>
        <% if user_signed_in? %>
        <li> Hi! <%= current_user.display_name %> </li>
        <li><%= link_to current_user.email, "#" %></li>
        <li><%= link_to "登出", destroy_user_session_path, method: "delete" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
