<header class="site-header">
  <div class="nav_bar flex">
    <%= link_to "logo", "/", class: "logo" %>
    <nav id="main-navigation">
      <ul>
        <% if user_signed_in? %>
          <li> Hi! <%= current_user.display_name %> </li>
          <li><%= link_to current_user.email, "#" %></li>
          <li><%= link_to "登出", destroy_user_session_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "註冊", new_user_registration_path %></li>
          <li><%= link_to "登入", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
    <div class="hamburger md:hidden">
      <button class="toggler">
        hamburger
      </button>
    </div>
  </div>
</header>
