<main>
  <article>
    <section>
      <%= render "hero_block" %>
      <%= render "flow_chart_block" %>
      <%# <%= render "slim_banner_block" %>
      <%# <%= render "supports_block" %>
      <%# <%= render "features_block" %>
      <%# <%= render "testimonial_block" %>
      <%# <%= render "stat_block" %>
      <%# <%= render "pricing_block" %>
    </section>
  </article>
</main>
