<section class="section-center">
  <h2 class="h2-type">登入</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    </div>
    
    <div class="actions">
      <%= f.submit "登入", class:"px-20 bg-white mb-5 hover:bg-red-200" %>
    </div>
  <% end %>
  <button class="border border-gray-300 hover:bg-red-200 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
    <img alt="google logo" src="https://img.icons8.com/color/24/FFFFFF/google-logo.png" class="mr-1"/>
    <%= link_to "使用goole帳號登入", user_google_oauth2_omniauth_authorize_url, method: :post %>
  </button>
  <div class="devise_link">
    <%= link_to "註冊", new_registration_path(resource_name) %><br />
    <%= link_to "忘記密碼?", new_password_path(resource_name) %><br />  
  </div>

  <%#= render "devise/shared/links" %>
</section>
