<footer class="room-footer">
  <ul>
    <li>
      <%= link_to "Invite", "/#{@room.uuid}/invite" %>
    </li>
    <li>
      <%= link_to "Start call", "#" %>
    </li>
    <li>
      <input type="text" value="123">
    </li>
  </ul>
  <ul>
    <li>
      <%= room.title %>
    </li>
    <li>
      <%= link_to "Feedback", "#" %>
    </li>
    <li>
      <%= link_to "Settings", "#" %>
    </li>
    <li>
      <%= link_to "End Interview", rooms_path %>
    </li>
  </ul>
</footer>
