<footer class="room-footer">
  <div>
    <%= link_to "邀請", "/#{@room.uuid}/invite" %>
    <%= link_to "進行視訊通話", "#" %>
    <%= render "participator_name", participator: current_participator %>
  </div>
  <div>
    <span><%= room.title %></span>
    <%= link_to "設定", "#" %>
    <%= link_to "結束面試", rooms_path %>
  </div>
</footer>
<% console %>
