<footer class="room-footer">
  <div>
    <%= link_to "邀請", "/#{@room.uuid}/invite" %>
    <%= link_to "進行視訊通話", "#" %>
    <%= render "participator_name", participator: current_participator %>
  </div>
  <div>
    <div data-controller = "roomtitle"
         data-room_id="<%= room.id %>">
      <button data-action="click->roomtitle#editMode"><img src="https://upload.wikimedia.org/wikipedia/commons/6/64/Edit_icon_%28the_Noun_Project_30184%29.svg"class="h-7 w-7"></button>
      <span data-roomtitle-target="title" ><%= room.title %></span>
    </div>
    <%= link_to "設定", "#" %>
    <%= link_to "結束面試", rooms_path %>
  </div>
</footer>
