<div class="room-container">
  <div class="candidate-input" data-controller="editor" data-room_id="<%= room.id %>">
    <div class="control-panel">
      <div>
        <button class="run-btn"
                data-editor-target="run"
                data-action="click->editor#run">執行 <span class="transform rotate-90 inline-block">▲</span></button>
        <button class="draw-btn"><span class="pencil">✎</span></button>
      </div>
      <div>
        <button>題庫</button>
        <button>資訊</button>
        <button id="current_language">語言選擇</button>
      </div>
    </div>
    <%= render "editor" %>
  </div>
  <div
    class="web-console"
    id="web-console"
    data-controller="webconsole"
    data-roomUUID=<%= room.uuid %>
    data-src=<%= src %>
    >
    <div class="border border-gray-500 h-full">
      <%= render "webconsole", src: src %>
    </div>
  </div>
</div>
