<div class="room-container">
  <div class="candidate-input" 
    data-controller="editor runCode"
    data-room_id="<%= room.id %>"
    data-roomUUID="<%= room.uuid %>"
    data-question-id="<%= room.question_id %>"
    data-src=<%= src %>
    data-signed=<%= user_signed_in?%>
    >
    <div class="control-panel">
      <div>
        <button class="run-btn"
                data-action="runCode#run">執行 <span class="transform rotate-90 inline-block">▲</span></button>
                
        <a href="/canvas" target="_blank" class="draw-btn">畫板<span class="pencil pr-2">✎</span></a>
      </div>
      <div class="relative">
        <% if current_user %>
          <button data-action="editor#catchQuestions">題庫</button>
        <% end %>
        <button data-action="editor#toggleInformation">資訊</button>
        <button id="current_language">語言選擇</button>
        <% if current_user %>
          <button data-action="editor#toggleLanguageMenu">▼</button>
        <% end %>
        <div class="mt-2.5 py-3 px-3 absolute z-10 bg-gray-800 rounded-md w-full text-white hidden whitespace-pre-wrap break-all"
             data-editor-target="questions_instruction">請先選擇題目</div>
        <div
          class="mt-2.5 py-3 flex justify-end w-1/2 right-0 absolute z-10 rounded-md"
          data-editor-target="change_language"
          id="web-console"
          data-controller="webconsole"
          data-roomUUID=<%= room.uuid %>
          data-src=<%= src %>>
          <%= render "select_language", language_set: %>
        </div>
        </div>
      </div>
      <%= render "editor" %>
      <div id="otEmbedContainer" class="facetime hidden opacity-0 animation" data-allRoom-target="camera" data-connected="false"></div>
      <script src="https://tokbox.com/embed/embed/ot-embed.js?embedId=e138caba-c5da-46db-9562-889ec6530c22&room=<%=params[:uuid]%>" defer></script>
      <div data-editor-target="team_question"
         data-action="click->editor#close"
        class="black-cover-bg hidden z-20">
        <div data-editor-target="questions_display"
           class="flex white-card top-0 opacity-0">
          <div class=" w-4/12 rounded-md pt-2">
            <div class="ml-2 text-center font-bold text-2xl box-shadow absolute z-10 bg-gray-50 rounded-md" 
               style="height: 10%; width: 30%">
              <div data-editor-target="team_name"
                  class="shiny block w-full h-full p-3 rounded-md">
              </div>
            </div>
            <div class=" overflow-y-auto rounded-bl-md pt-16 border-white"
               style="height: 100%">
              <table class="question_table">
                <tbody data-editor-target="questions_list"
                     class="pt-5 block">
                  <tr>
                    <td>
                      <div>
                        題目
                      </div>
                      <div>
                        語言、作者
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </div>
          <div data-editor-target="questions_information" class=" w-8/12 border relative rounded-tr-md rounded-br-md flex flex-col">
            <div class=" w-3/4 h-1/2 p-3 absolute top-0 bottom-0 left-0 right-0 m-auto text-center rounded-lg bg-gray-50 box-shadow shiny">
              <div class=" text-3xl">
                歡迎使用題庫！！
              </div>
              <div class=" text-xl mt-5 text-left whitespace-pre-wrap">        請選擇所需要的面試題目，選擇後即可更新編輯器內容
              </div>
            </div>
          </div>
          <button class="p-1 px-4 absolute top-0 right-0 border rounded-bl-md rounded-tr-md bg-gray-100"
                data-action="click->editor#close">
            關閉
          </button>
        </div>
      </div>
    </div>
    <div class="web-console">
      <div class=" border-gray-500 h-full flex flex-col">
        <%= render "webconsole", src: src %>
      </div>
      <%= render "textchat", room: @room %>
    </div>
  </div>
