<div class="room-container">
  <div class="candidate-input" 
    data-controller="editor"
    data-room_id="<%= room.id %>">
    <div class="control-panel">
      <div>
        <button class="run-btn"
                data-action="click->editor#run">執行 <span class="transform rotate-90 inline-block">▲</span></button>
        <a href="/canvas" target="_blank" class="draw-btn">畫板<span class="pencil pr-2">✎</span></a>
      </div>
      <div class="relative">
        <button data-action="click->editor#catchQuestions">題庫</button>
        <button data-action="editor#toggleInformation">資訊</button>
        <button id="current_language">語言選擇</button>
        <button data-action="editor#toggleLanguageMenu">▼</button>
        <div class="mt-2.5 py-3 px-3 absolute z-10 bg-gray-800 rounded-md w-full text-white hidden whitespace-pre-wrap break-all"
             data-editor-target="questions_instruction">請先選擇題目</div>
        <div
          class="mt-2.5 py-3 flex justify-evenly w-full bg-gray-800 absolute z-10 rounded-md"
          data-editor-target="change_language"
          id="web-console"
          data-controller="webconsole"
          data-roomUUID=<%= room.uuid %>
          data-src=<%= src %>>
          <div class="pl-10">
            <% language_set = %w[Ruby Javascript] %>
            <% language_set.each do |language| %>
              <button data-action="click->webconsole#createRuntime"
                      class=" my-2"
                      data-editor-target=<%= language %>><%= language %></button>
            <% end %>
          </div>
          <div class="pl-3">
            <% language_set = %w[Python Elixir] %>
            <% language_set.each do |language| %>
              <button data-action="click->webconsole#createRuntime"
                      class=" my-2"
                      data-editor-target=<%= language %>><%= language %></button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render "editor" %>
    <div id="result-box" class="result-box whitespace-pre" style="display: none">
      <div id = "run-text" class="text-xl text-white "></div>
      <div class="text-base text-white " id="run_result"></div>
    </div>
    <div data-editor-target="team_question"
         data-action="click->editor#close"
         class="w-full h-full fixed top-0 left-0 bg-black bg-opacity-50 hidden">
      <div data-editor-target="questions_display"
           class="flex w-3/4 mx-auto relative left-0 right-0 top-0 bg-white border h-2/3 rounded-md opacity-0 transition duration-700 transform">
        <div class=" w-4/12 rounded-md pt-2">
          <div class="ml-2 text-center font-bold text-2xl box-shadow absolute z-10 bg-gray-50 rounded-md" 
               style="height: 10%; width: 30%">
             <div data-editor-target="team_name"
                  class="shiny block w-full h-full p-3 rounded-md">
             </div>
          </div>
          <div class=" overflow-y-auto rounded-bl-md pt-16 border-white"
               style="height: 100%">
            <table class="question_table">
              <tbody data-editor-target="questions_list"
                     class="pt-5 block">
                <tr>
                  <td>
                    <div>
                      題目
                    </div>
                    <div>
                      語言、作者
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div data-editor-target="questions_information" class=" w-8/12 border relative rounded-tr-md rounded-br-md flex flex-col">
          <div class=" w-3/4 h-1/2 p-3 absolute top-0 bottom-0 left-0 right-0 m-auto text-center rounded-lg bg-gray-50 box-shadow shiny">
            <div class=" text-3xl">
              歡迎使用題庫！！
            </div>
            <div class=" text-xl mt-5 text-left whitespace-pre-wrap">        請選擇所需要的面試題目，選擇後即可更新編輯器內容
            </div>
          </div>
        </div>
        <button class="p-1 px-4 absolute top-0 right-0 border rounded-bl-md rounded-tr-md bg-gray-100"
                data-action="click->editor#close">
          關閉
        </button>
      </div>
    </div>
  </div>
  <div class="web-console">
    <div class="border border-gray-500 h-full rounded-md">
      <%= render "webconsole", src: src %>
    </div>
  </div>
  
</div>



