<div class="flex justify-between mt-3"
     data-controller="permission">
  <h2 class="text-2xl font-bold">會議室目錄</h2>
  <%= link_to "新增會議室", rooms_path(), method: "post", target: "_blank", class: "btn-dashboard-create",data: {action: "permission#checkPermission", "permission-target": "control_button","create-permission": "enable"}%>
</div>
<span class="block mb-10">管理您的會議室，新增會議、進行查詢、調整及刪除。</span>
<div class="rounded">
  <form action="./rooms" method="get" class="mt-2 mb-4" , data-room-target="filter" >
    <div class="relative">
      <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      </div>
      <input type="text" placeholder="標題關鍵字查詢" name="keyword" class="block p-2.5 w-full z-20 rounded-lg text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-100 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" placeholder="Search" required="">
      <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg></button>
    </div>
  </form>
</div>
<div data-controller="room filter"
     data-currentUserId=<%= current_user.id %>
     data-countdown_standard=<%= @countdown_standard%>>
  <div class="p-2">
    <form action="./rooms" method="get" class="text-black", data-filter-target="filter" >
      <label>
        <% if params[:creator] %>
          <input type="checkbox" name="creator" value="me" data-action="click->filter#checkout" checked >
        <% else %>
          <input type="checkbox" name="creator" value="me" data-action="click->filter#checkout">
        <% end %>
        filter something
      </label>
    </form>
  </div>
  <table class="room_table">
    <thead>
      <tr>
        <td>標題</td>
        <td>狀態</td>
        <td>模式</td>
        <td>程式語言</td>
        <td>建立者</td>
        <td>建立日期</td>
        <td></td>
        <td></td>
      </tr>
    </thead>
    <tbody data-room-target="roomTable">
      <%= render partial: 'shared/room', collection: @rooms %>
      <div>
        <%== pagy_nav(@pagy) %>
      </div>
    </tbody>
  </table>
