<div class="p-20">
  
<<<<<<< HEAD
    <div class="py-5">hello!</div>
=======
    <div class="py-5">hello! <%= current_user.email %></div>
>>>>>>> feature/Room
  
    <% if notice %>
        <p class="notice"><%= notice %></p>
    <% end %>

    <div class="py-5 text-right"> <%= link_to "create room", new_room_path, target: "_blank" , :class => "createBtn" %> </div>

<<<<<<< HEAD
    <table class="table-auto w-full border">
        <thead>
            <tr>
                <td class="font-bold p-3 border-b text-center">Title</td>
                <td class="font-bold p-3 border-b text-center">Creator ID</td>
                <td class="font-bold p-3 border-b text-center">Status</td>
                <td class="font-bold p-3 border-b text-center">Type</td>
                <td class="font-bold p-3 border-b text-center">Language</td>
                <td class="font-bold p-3 border-b text-center">Created</td>
                <td class="font-bold p-3 border-b text-center"></td>
                <td class="font-bold p-3 border-b text-center">delete</td>
=======
    <table class="room_table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Creator ID</td>
                <td>Status</td>
                <td></td>
                <td>Language</td>
                <td>Created</td>
                <td></td>
                <td>delete</td>
>>>>>>> feature/Room
            </tr>
        </thead>
        <tbody>
            <% @rooms.each do | room | %>
            <tr>
<<<<<<< HEAD
                <td class="p-3 border-b text-center"><%= room.title %></td>
                <td class="p-3 border-b text-center"><%= room.user_id %></td>
                <td class="p-3 border-b text-center"><%= room.status %></td>
                <td class="p-3 border-b text-center"><%= room.type %></td>
                <td class="p-3 border-b text-center"><%= room.language %></td>
                <td class="p-3 border-b text-center"><%= room.created_at.to_s.split.first %></td>
                <td class="p-3 border-b text-center"><%= link_to "view",room_path(room) %></td>
                <td class="p-3 border-b text-center"><%= link_to "delete", room_path(room), method:"delete", data:{confirm:"delete?"} %></td>
            </tr>
            <% end %>
        </tbody>
=======
                <td><%= room.title %></td>
                <td><%= room.user_id %></td>
                <td><%= room.status %></td>
                <td><%= room.category %></td>
                <td><%= room.language %></td>
                <td><%= room.created_at.to_s.split.first %></td>
                <td><%= link_to "view",room_path(room) %></td>
                <td><%= link_to "delete", room_path(room), method:"delete", data:{confirm:"Delete Room? Are you sure?"} %></td>
            </tr>
            <% end %>
        </tbody> 
>>>>>>> feature/Room
    </table>




</div>