<div class="flex justify-between mt-3">
  <h2 class="font-bold text-2xl">會議室目錄</h2>
   <%= link_to "新增會議室", rooms_path, method: "post", target: "_blank" , :class => "createBtn" ,class: "px-3 py-1 border-2 text-white bg-blue-500 hover:bg-blue-800 font-bold rounded-md"%>
  </div>
  <span class="block mb-10">管理您的會議室，創建會議、進行查詢、與調整及刪除。</span>
  <table class="room_table">
    <thead>
      <tr>
        <td>標題</td>
        <td>創建者ID</td>
        <td>狀態</td>
        <td></td>
        <td>程式語言</td>
        <td>創建日期</td>
        <td></td>
        <td>delete</td>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do | room | %>
        <tr>
          <td><%= room.title %></td>
          <td><%= room.user_id %></td>
          <td><%= room.status %></td>
          <td><%= room.category %></td>
          <td><%= room.language %></td>
          <td><%= room.created_at.to_s.split.first %></td>
          <td><%= link_to "view", room_uuid_path(uuid: room.uuid) %></td>
          <td><%= link_to "delete", room, method:"delete", data:{confirm:"Delete Room? Are you sure?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
