<div class="p-20">
  
    <div class="py-5">hello! <%= current_user.email %></div>
  
    <div class="py-5 text-right"> <%= link_to "create room", new_room_path, target: "_blank" , :class => "createBtn" %> </div>

    <table class="room_table">
        <thead>
            <tr>
                <td>Title</td>
                <td>Creator ID</td>
                <td>Status</td>
                <td></td>
                <td>Language</td>
                <td>Created</td>
                <td></td>
                <td>delete</td>
            </tr>
        </thead>
        <tbody>
            <% @rooms.each do | room | %>
            <tr>
                <td><%= room.title %></td>
                <td><%= room.user_id %></td>
                <td><%= room.status %></td>
                <td><%= room.category %></td>
                <td><%= room.language %></td>
                <td><%= room.created_at.to_s.split.first %></td>
                <td><%= link_to "view",room_path(room) %></td>
                <td><%= link_to "delete", room_path(room), method:"delete", data:{confirm:"Delete Room? Are you sure?"} %></td>
            </tr>
            <% end %>
        </tbody> 
    </table>




</div>