<div class="p-10">
    
    <%= form_with model:@room do |form| %>
    
        <span class="px-5">title: <%= form.text_field :title, value: "Untitled Pad - userid_#{current_user.id}" , :readonly => true , class:"border-0" %></span>

        <span class="px-5">Language: <%= form.select :language, ["Javascript", "Ruby"] %></span>

        <%= form.hidden_field :category, value: "Live" %>

        <%= form.hidden_field :status, value: "Started" %>
    
        <%= form.submit "End Interview" %>
    
    <% end %>
    
</div>