<div class="p-20">

    <h1>show</h1>

    title: <%= @room.title %>
    
    Language: <%= @room.language %>

    <%= link_to "back to room",  rooms_path %>
    
</div>
<%= render "room" %>
<%= render "footer" %>
