<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "iCoder" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render "shared/header" %>
    <% if notice %>
      <%= render "shared/notice" %>
    <% end %>
    <p class="alert"><%= alert %></p>
    <div class="flex h-screen">
      <div class="w-72 h-full bg-gray-200">
        <%= render "shared/sidebar" %>
      </div>
      <div class="w-full bg-gray-100 px-5">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
