<!DOCTYPE html>
<html>
  <head>
    <title><%= @title || "iCoder" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= sanitize '<p class="notice">#{notice}</p>' if notice %>
    <%= sanitize '<p class="alert">#{alert}</p>' if alert %>
    <%= yield %>
  </body>
</html>
